body {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../images/back.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    min-width: 500px;
    margin: 0 auto;
}

.intro__title {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-transform: full-width;
    text-align: left;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto 0;
    
    background-color: #fff;
}

/* header */
.header {
    width: 100%;
    padding-top: 20px;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header--fixed {
    padding: inherit;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    transform: translate3d(0, 0, 0);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #F45D00;
}

.header__logo {
    width: 100px;
    height: 100px;
}
/* nav */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px; 
    position: relative;
    
    top: 100%;
    left: 0;
    z-index: 1;
    
    color: #F45D00;
    text-decoration: none;
    
    transition: color .2s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    
    background-color: #FDB78C;
    opacity: 0; 
    
 
    
    transition: opacity .2s linear;
}

.nav__link:hover {
    color: #FDB78C;
}

.nav__link:hover:after {
    display: block;
    opacity: 1;
}
/* Bordered form */


form {
    
    display: block;
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #ff8121;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* wrapper */

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.footer {
    left: 0; bottom: 0; 
    color: #fff; 
    width: 100%; 
    background: #242120;
    padding: 119px 0;
}

.footer_item {
    display: flex;
    flex-wrap: wrap;
}

.footer_logo {
    width: 50%;
}

img {
    max-width: 130%;
    height: auto;
}

.footer_nav {
    color: #201f1b;
    width: 50%;
}

ol, ul {
    list-style: none;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.footer {
    background: #e8d2be;
    padding: 119px 0;
}

.intro__suptitle {
    color: #000;
    font-size: 30px;
    font-weight: 300;
    text-transform: full-width;
    text-align: left;
    line-height: 1;
}

.intro__suptitle:after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 300px auto 0;
}

body {
  background: url(https://html5book.ru/wp-content/uploads/2015/07/background39.png);
}
.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {
  background: #FD8414;
  box-shadow: 0 15px 20px rgba(255, 77, 18, 1);
  color: white;
  transform: translateY(-7px);
}