<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/static/css/style.css" />
    <meta charset="UTF-8" />
    <title>CatToon</title>
  </head>
  <body>
    {% extends 'header.html' %} {% block title %} {% endblock %} {% block body%}
    <div class="product-wrap">
  <div class="product-item">
    <img src="static/img/4.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Корм сухой для стерилизованных кошек с индейкой, 400 г</a>
    <span class="product-price">₽ 1358</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="/tovar/5.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Когтеточка 30х30х31 см серая</a>
    <span class="product-price">₽ 1359</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/12.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Комкущийся наполнитель с активированным углём для кошачьего туалета, 4,5кг</a>
    <span class="product-price">₽ 246</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/tovar/6.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Корм для рыб Spirulina Wafers 15г</a>
    <span class="product-price">₽ 139</span>
  </div>
</div>
    {% endblock %}
  </body>
</html>
