<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/static/css/style.css" />
    <meta charset="UTF-8" />
    <title>CatToon</title>
  </head>
  <body>
    {% extends 'header.html' %} {% block title %} {% endblock %} {% block body%}
    <div class="product-wrap">
  <div class="product-item">
    <img src="static/img/tovar/6.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Корм для рыб Spirulina Wafers 15г</a>
    <span class="product-price">₽ 139</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/tovar/7.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Аквариум пластиковый 5,5л синий</a>
    <span class="product-price">₽ 899</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/tovar/8.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Набор Китайский дворик</a>
    <span class="product-price">₽ 1045</span>
  </div>
</div>
    {% endblock %}
  </body>
</html>
