<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/static/css/style.css" />
    <meta charset="UTF-8" />
    <title>CatToon</title>
  </head>
  <body>
    {% extends 'header.html' %} {% block title %} {% endblock %} {% block body%}
    <div class="product-wrap">
  <div class="product-item">
    <img src="static/img/tovar/9.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Parrocchetti African Корм для средних попугаев, 800 г</a>
    <span class="product-price">₽ 718</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/tovar/11.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Игрушка для птиц Веселый обруч 240*75мм</a>
    <span class="product-price">₽ 175</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/tovar/10.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Клетка для птиц 36x28,8x42см</a>
    <span class="product-price">₽ 1599</span>
  </div>
</div>
    {% endblock %}
  </body>
</html>
