<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/static/css/style.css" />
    <meta charset="UTF-8" />
    <title>CatToon</title>
  </head>
  <body>
    {% extends 'header.html' %} {% block title %} {% endblock %} {% block body%}
    <div class="container content">
	<div class="row">
		<div class="col-md-4">
			<div class="list-group">
				<a class="list-group-item"></a>
				<div class="col">

							<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/1.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Dental Pro Bar лакомство для собак мелких и карликовых пород, 150 г</a>
    <span class="product-price">₽ 495</span>
  </div>
</div>

				<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/2.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Миска для собак металлическая с лапкой рельеф резиновое основание 240мл</a>
    <span class="product-price">₽ 173</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/3.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Игрушка для собак Кость с веревкой, 17,5 см</a>
    <span class="product-price">₽ 350</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/4.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Корм сухой для стерилизованных кошек с индейкой, 400 г</a>
    <span class="product-price">₽ 1358</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="/tovar/5.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Когтеточка 30х30х31 см серая</a>
    <span class="product-price">₽ 1359</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/12.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Комкущийся наполнитель с активированным углём для кошачьего туалета, 4,5кг</a>
    <span class="product-price">₽ 246</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/6.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Корм для рыб Spirulina Wafers 15г</a>
    <span class="product-price">₽ 139</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/7.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Аквариум пластиковый 5,5л синий</a>
    <span class="product-price">₽ 899</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/8.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Набор Китайский дворик</a>
    <span class="product-price">₽ 1045</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/9.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Parrocchetti African Корм для средних попугаев, 800 г</a>
    <span class="product-price">₽ 718</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/11.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Игрушка для птиц Веселый обруч 240*75мм</a>
    <span class="product-price">₽ 175</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/10.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Клетка для птиц 36x28,8x42см</a>
    <span class="product-price">₽ 1599</span>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>





   <footer class="footer">
    <div class="wrapper">
        <div class="footer_item">
	<div class="footer_logo">
	<img src="static/img/logo1.png" alt="" class="footer_logo-pic">
	</div>
	<nav class="footer_nav">
	<ul class="footerm_menu">
                        <li class="footer_menu-item">
                            <h3 class="footer_menu-title">Телефон: +7(906)404-22-82</h3>
                        </li>
						<li class="footer_menu-item">
                            <h3 class="footer_menu-title">Почта: CatToon@gmail.com</h3>
                        </li>
						<li class="footer_menu-item">
                            <h3 class="footer_menu-title">Адрес: Кутузовская ул., 5, Волгоград, Волгоградская обл., 400094</h3>
                        </li>
                    </ul>

                </nav>
            </div>
    </div>
</footer>



<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    {% endblock %}
  </body>
</html>
