<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/static/css/style.css" />
    <meta charset="UTF-8" />
    <title>CatToon</title>
  </head>
  <body>
    {% extends 'header.html' %} {% block title %} {% endblock %} {% block body%}
    <div class="product-item">
    <img src="static/img/tovar/1.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Dental Pro Bar лакомство для собак мелких и карликовых пород, 150 г</a>
    <span class="product-price">₽ 495</span>
  </div>
</div>

				<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/tovar/2.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Миска для собак металлическая с лапкой рельеф резиновое основание 240мл</a>
    <span class="product-price">₽ 173</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/tovar/3.jpg">
    <div class="product-buttons">
      <a href="#" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Игрушка для собак Кость с веревкой, 17,5 см</a>
    <span class="product-price">₽ 350</span>
  </div>
</div>
    {% endblock %}
  </body>
</html>
