<!DOCTYPE html>
<html lang="ru">
  <head>
      <link type="image/x-icon" href="static/img/favicon.ico" rel="shortcut icon">
        <link type="Image/x-icon" href="static/img/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css')}}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}{% endblock %}
<header class="header header--fixed">
      <div class="container">
          <div class="header__inner">
             <div class="header__logo">
                <a href="index"><img alt="" src="static/img/logo1.png">
                </a>
             </div>
              <nav class="nav">
                  <a class="nav__link" href="index">Главная</a>
                  <a class="nav__link" href="cataloge">Товары</a>
                  <a class="nav__link" href="contacts">Обратная связь</a>
                  <a class="nav__link" href="#">Корзина</a>
                  <a class="nav__link" href="login">Войти</a>
              </nav>
          </div>
      </div>
 </header>
  </body>
</html>
