<!DOCTYPE html>
<html lang="ru">
  <head>
      <link type="image/x-icon" href="/static/img/favicon.ico" rel="shortcut icon">
        <link type="Image/x-icon" href="/static/img/favicon.ico" rel="icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" />
    <meta charset="UTF-8" />
    <title>CatToon</title>
  </head>
  <body>
    {% extends 'header.html' %} {% block title %} {% endblock %} {% block body %}
    <div class="intro">
       <div class="container">
           <div class="intro__inner">
               <h1 class="intro__title">Добро пожаловать к CatToon</h1>
           </div>
       </div>
   </div>



<div class="container">
<section class="section">
   <div class="container">
      <h1 class="intro__suptitle">Товары по питомцу</h1>
       <a href="cataloge5" class="floating-button">Товары для собак</a>
       <a href="cataloge2" class="floating-button">Товары для кошек</a>
       <a href="cataloge4" class="floating-button">Товары для рыб</a>
       <a href="cataloge3" class="floating-button">Товары для птиц</a>
       <div class="section__container">
       </div>
       </div>
</section>
</div>

<h1 class="suptitle_1">Новинки</h1>
    <div class="container-1">
	<div class="row">
		<div class="col-md-4">
			<div class="list-group">
				<a class="list-group-item"></a>
				<div class="col">

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/4.jpg">
    <div class="product-buttons">
      <a href="" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Корм сухой для стерилизованных кошек с индейкой, 400 г</a>
    <span class="product-price">₽ 1358</span>
  </div>
</div>

		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/6.jpg">
    <div class="product-buttons">
      <a href="" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Корм для рыб Spirulina Wafers 15г</a>
    <span class="product-price">₽ 139</span>
  </div>
</div>
		<div class="product-wrap">
  <div class="product-item">
    <img src="static/img/9.jpg">
    <div class="product-buttons">
      <a href="" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Parrocchetti African Корм для средних попугаев, 800 г</a>
    <span class="product-price">₽ 718</span>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="post-wrap">
<div class="post-item">
<div class="item-content">
<div class="item-icon group"></div>
<div class="item-body">
<h3>Доставка от 1 часа</h3>
<p>При заказе от 10:00 до 20:00</p>
</div>
<div class="item-footer">
<a href="#" class="link"><span>Подробнее</span></a>
</div>
</div>
</div>

<div class="post-item">
<div class="item-content">
<div class="item-icon tree"></div>
<div class="item-body">
<h3>Самовывоз заказа</h3>
<p>Через 30 минут из 100+ магазинов</p>
</div>
<div class="item-footer">
<a href="#" class="link"><span>Подробнее</span></a>
</div>
</div>
</div>

<div class="post-item">
<div class="item-content">
<div class="item-icon anchor"></div>
<div class="item-body">
<h3>Бонусы</h3>
<p>Кэшбэк до 7% на бонусную карту</p>
</div>
<div class="item-footer">
<a href="#" class="link"><span>Подробнее</span></a>
</div>
</div>
</div>

<div class="post-item">
<div class="item-content">
<div class="item-icon video"></div>
<div class="item-body">
<h3>Акция до -50%</h3>
<p>до -50% на сухой корм для собак</p>
</div>
<div class="item-footer">
<a href="#" class="link"><span>Подробнее</span></a>
</div>
</div>
</div>

<div class="post-item">
<div class="item-content">
<div class="item-icon photo"></div>
<div class="item-body">
<h3>Акция до -50%</h3>
<p>Майская распродажа</p>
</div>
<div class="item-footer">
<a href="#" class="link"><span>Подробнее</span></a>
</div>
</div>
</div>

<div class="post-item">
<div class="item-content">
<div class="item-icon gift"></div>
<div class="item-body">
<h3>Подарки</h3>
<p>1+1=3!</p>
</div>
<div class="item-footer">
<a href="#" class="link"><span>Подробнее</span></a>
</div>
</div>
</div>
</div>



<div class="post-item">
<div class="container-3">
<div class="img--2">
<img src="static/img/o%20nas.png">
</div>
<div class="post-item-wrap">

<a href="" class="post-link">
<h3 class="post-title">О НАС</h3>
<p class="post-content">Мы в ответе за тех, кого Вы приручили!
Все питомцы — от маленькой рыбки до гигантской собаки — нуждаются в ласке, заботе и внимании. Кто бы ни был на Вашем попечении — крохотное существо или большой, серьезный зверь, — магазин зоотоваров CATTOON.RU поможет Вам позаботиться о нем.

С помощью наших товаров сделайте жизнь любимого животного долгой, счастливой и яркой. Мы всегда рады видеть Вас!</p>
</a>
</div>
</div>
</div>



<footer class="footer">
    <div class="wrapper">
        <div class="footer_item">
	<div class="footer_logo">
	<img src="static/img/logo1.png" alt="" class="footer_logo-pic">
	</div>
	<nav class="footer_nav">
	<ul class="footerm_menu">
                        <li class="footer_menu-item">
                            <h3 class="footer_menu-title">Телефон: +7(906)404-22-82</h3>
                        </li>
						<li class="footer_menu-item">
                            <h3 class="footer_menu-title">Почта: CatToon@gmail.com</h3>
                        </li>
						<li class="footer_menu-item">
                            <h3 class="footer_menu-title">Адрес: Кутузовская ул., 5, Волгоград, Волгоградская обл., 400094</h3>
                        </li>
                    </ul>

                </nav>
            </div>
    </div>
</footer>
    {% endblock %}
  </body>
</html>
